.main-container {
    margin-left: 1%;
}

.table-header-text {
    margin: 1% 0 1% 0;
}

.workflow-details {
    margin: 1% 0 1% 0;
}

.table-steps {
    width: 95%;
}

#workflow-graph {
    width: 95%;
    height: 90%;
    position: relative;
}

.top-margin{
    margin-top: 1%;
}

.loading-image {
    display: none;
}

.cyto-workflows{
    margin: 1% 0 1% 0;
}

.present-node {
    font-weight: bold;
    color:  #136b17;
}

.absent-node {
    font-weight: bold;
    color:  #e81717 ;
}
